<div data-animation="default" data-collapse="all" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav_component w-nav">
      <div class="nav_background"></div>
      <div class="container-medium is-menu">
        <a href="{{ links.2f }}" aria-current="page" class="nav_brand w-nav-brand w--current"><img width="297" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;68vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;297px&quot;}]" src="{{ images.-10a9369a.url }}" loading="lazy" alt="{{ images.-10a9369a.alt | trim | escape }}" class="nav_logo"></a>
        <div data-w-id="21f171be-5384-5dee-227e-9342adaa8a06" class="nav_button pointer-on">
          <div class="nav_button-bg"></div>
          <div class="nav_icon">
            <div id="w-node-c6a8008b-e0bb-b5f0-e32f-5a56d9947e75-ea75d5ac" class="nav_icon-line is-top"></div>
            <div id="w-node-_211807c4-2e06-7cbf-4355-bac68ee37515-ea75d5ac" class="nav_icon-line is-middle"></div>
            <div id="w-node-_07264e07-cf59-77fe-d18a-00365a26d0b5-ea75d5ac" class="nav_icon-line is-bottom"></div>
          </div>
        </div>
      </div>
      <div class="nav_menu">
        <div class="nav_menu-grid">
          <a href="{{ links.2f }}" aria-current="page" class="nav_link w-nav-link w--current">{{ texts.2268ff }}</a>
          <a href="{{ links.-1cebe647 }}" class="nav_link w-nav-link">{{ texts.33f574a8 }}</a>
          <a href="{{ links.67392b5e }}" class="nav_link w-nav-link">{{ texts.7a59368f }}</a>
          <a href="{{ links.-50efb32a }}" class="nav_link w-nav-link">{{ texts.49cb423 }}</a>
          <a href="{{ links.2c48b98 }}" class="nav_link w-nav-link">{{ texts.1faf09 }}</a>
          <a href="{{ links.55b8e8be }}" class="nav_link w-nav-link">{{ texts.3c2336d }}</a>
        </div>
      </div>
    </div>